.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
  width: 250px !important;
  margin-bottom: 10px;
}

.form-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

form {
  margin-top: 40px;
}

.navbar {
  background-color: dodgerblue;
  height: 70px;
  color: #282c34;
  margin-bottom: 30px;
  position: relative;
}

.navbar-buttons,
.logout {
  display: flex;
  cursor: pointer;
}

.navbar-buttons div,
.logout {
  padding: 0 5px;
  transition: 300ms all ease;
  color: #dddddd;
}

.navbar-buttons div:hover,
.logout:hover {
  color: #ffffff;
  text-decoration: underline;
}

.home-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: dodgerblue;
  height: 70px;
  color: #282c34;
  margin-bottom: 30px;
}

.home-navbar > div {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: floralwhite;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.profile > div {
  padding: 0 10px;
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 70px;
  right: 0;
  background-color: dodgerblue;
}
